[*.cs]
csharp_using_directive_placement = outside_namespace

dotnet_diagnostic.SA1633.severity = none  ;; Might fix license headers later
dotnet_diagnostic.SA1513.severity = none  ;; Keeping functions and properties close
dotnet_diagnostic.SA1514.severity = none  ;; Same as SA1513
dotnet_diagnostic.SA1208.severity = none  ;; Keep using's in alphabetical order
dotnet_diagnostic.SA1124.severity = none  ;; Use regions to keep code organized
dotnet_diagnostic.SA1101.severity = none  ;; Don't use this everywhere
dotnet_diagnostic.SA1515.severity = none  ;; Use comments as empty lines
dotnet_diagnostic.SA1201.severity = none  ;; Won't be fixed, see https://github.com/DotNetAnalyzers/StyleCopAnalyzers/issues/2541
dotnet_diagnostic.SA1516.severity = none  ;; Why keep empty useless space lol
dotnet_diagnostic.SA1413.severity = none  ;; Don't keep trailing comas
dotnet_diagnostic.SA1512.severity = none  ;; Keep comments as comments, not code lol
dotnet_diagnostic.SA1128.severity = none  ;; Ill come back to this later
dotnet_diagnostic.SA1623.severity = none  ;; Too verbose to document self explanatory properties
dotnet_diagnostic.SA1642.severity = none  ;; Too verbose to document self explanatory properties
